<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taotao"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_android"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity android:name="com.example.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.activity.OnSaleItem"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ChaKanpjiaActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Error"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Nofahuo"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.TaozixunActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.GeRenXinXi"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.APITest"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.GetAccessTokenAndSessionKey"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ActivityJiLei"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShareActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Shangpin_fahuo"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Baobei0"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.BaobeiActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Baobei1"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Baobei2"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Baobei3"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Baobei4"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShangpinActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShangpinActivityCangku"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.SouSuoBaoBei"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.XiaJiaActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShangJiaActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ChuChuangActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.XiuGaiXinXiActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShangpinChuchuang"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.QuxiaoChuChuangActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdanxiangqing"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.DingdanActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdan1"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdan2"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdan3"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdan4"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Dingdan5"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Tuikuan"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.FahuoActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo0"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo1"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo2"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo3"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo4"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo5"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Fahuo6"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Wuxuwuliu"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Wuliugongsi"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Xianxiafahuo"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.FangkeActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShopInfoActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ShopUpdateActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.PingjiaActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Pingjia00"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Pingjia01"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Pingjia02"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.Pingjia03"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.PingJiaXinYong"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.WapWangWang"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.WuliuActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.TestActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.activity.ChaKanWuLiu"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

</manifest>